*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 15rem;
    height: auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;

    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
}
nav{
    display: flex;
    gap: 3rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}
nav button {
    margin-right: 0.5rem; 
    padding: 0.5rem 1rem;
    background-color: blue;
    color: white;
    border-radius: 12px;
    border: 2px solid blue;
    outline: none;
    font-size: 1.4rem;
}

nav button:active{
    opacity: 0.7;
}

nav a{
    opacity: 0.8;
}
nav a:hover{
    opacity: 1;
    text-decoration: underline;
}

.hero-section{
    background-image: url('./Assets/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 3/2;
    width: 100%;
    position: relative;
} 

.hero-section h1{
    position: absolute;
    top: 20%;
    left: 15%;
    width: 35%;
}

.hero-section p{
    position: absolute;
    top: 30%;
    left: 15%;
    width: 33%;
    font-size: 1.3rem;
}

.hero-section #btn-1{
    position: absolute;
    top: 40%;
    left: 15%;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;

    background-color: blue;
    border: 2px solid blue;
    color: white;
    border-radius: 12px;
    border: none;
    outline: none;
}

.hero-section #btn-2{
    position: absolute;
    top: 40%;
    left: 28%;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;

    background-color: white;
    color: black;
    border-radius: 12px;
    border: 2px solid black;
    outline: none;
}

.hero-section #btn-1:active{
    opacity: 0.7;
}

.hero-section #btn-2:active{
    opacity: 0.6;
}

.feature-heading{
    text-align: center;
    font-size: 1.5rem;
}

.feature-para{
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
}
.card img{
    width:25vh;
    height: auto;
}

.feature-cards{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.card{
    height: 21rem;
    width: 21rem;
    border-radius: 12px;
    border: 2px solid #E5E4E2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.card p{
    width: 18rem;
    margin-top: 10px;
}
.card:hover{
    box-shadow:15px 15px 30px #E5E4E2;
    transform: scale(1.05);
}

